footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Home
                li: a(href="#section-1") About Me
                li: a(href="#section-2") Project
                li: a(href="#section-3") Experience

        div

            ul

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Jun Park

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") seongjun.park@yale.edu
                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:+1-203-393-8608") (+1) 203-393-8608
                    tr
                        td
                        td(class="country-name"): a(href="tel:+82-010-5413-8873") (+82) 010-5413-8873
                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-location")
                        td: a(href="#") 41.3163°N 72.9223°W

        div

            ul

                li

                    a(href="https://github.com/parksnwreck")

                        svg(role="img" title="Check out my GitHub")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-github")

                li

                    a(href="https://www.linkedin.com/in/jpark789/")

                        svg(role="img" title="Connect with me on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
