extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "JP", [
                {
                    href: "/#section-1",
                    name: "About Me"
                },
                {
                    href: "/#section-2",
                    name: "Projects"
                },
                {
                    href: "/#section-3",
                    name: "Experience"
                },
                {
                    href: "https://bit.ly/park_jun_resume",
                    name: "Resume"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
