section(class="canvas section-1" id="section-1")

    h2 About Me

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.jpeg" width=1152 height=1295.5 inline style="padding-right: 50px;")

            article

                h2 About Me

                p.
                    I’m an aspiring entrepreneur, who loves working at the intersection of technology and product. As a growth focused individual, 
                    I thrive in a cross-functional environment where I can wear multiple hats to tackle new challenges! I’m interested in pursuing a career in product management 
                    &#38 engineering at high-impact companies and startups.

                div
                    a(href="https://github.com/parksnwreck" style) GitHub
                    a(href="https://www.linkedin.com/in/jpark789/") LinkedIn


    +nav-1("section-2")
