section(class="canvas section-3" id="section-3")

    h2 Experience

    div(class="content")

        div
            figure
                img(src="images/home/section-3/_inline/bear.png" inline width=80)

            article

                h3 Software Engineering Intern
                p.
                    Bear Robotics
                    <br>
                    <i>June 2020 ~ Present</i>

        div
            figure
                img(src="images/home/section-3/_inline/yale.png" inline width=80)

            article

                h3 Teaching Assistant
                p.
                    CS 223: Data Structures
                    <br>
                    <i>December 2019 ~ May 2020</i>


        div
            figure
                img(src="images/home/section-3/_inline/500.png" inline width=80)

            article

                h3 Series A Program Intern
                p.
                    500 Startups
                    <br>
                    <i>June 2019 ~ August 2019</i>

        div
            figure
                img(src="images/home/section-3/_inline/usfk.png" inline width=80)

            article

                h3 Sergeant
                p.
                    Interpreter &#38 IT Specialist at United States Forces Korea
                    <br>
                    <i>September 2017 ~ May 2019</i>

        div
            figure
                img(src="images/home/section-3/_inline/zulama.jpg" inline width=80)

            article

                h3 Business Development Intern
                p.
                    Zulama
                    <br>
                    <i>June 2017 ~ August 2017</i>

    +nav-1("front", "prev")
