section(class="canvas section-2" id="section-2")

    h2 Projects

    div(class="content")
        
        div
            
            img(src="images/home/section-2/_inline/upvote.png" inline)

            article

                h2 <a href="https://github.com/parksnwreck/upvote">UpVote</a>
                p.
                    A product database that allows registered users to post and endorse their favorite products! 
                    Inspired by Product Hunt. Built with Django, Bootstrap, PostgreSQL.

        div

            img(src="images/home/section-2/_inline/upvote.png" inline)

            article

                h2 Effectus
                p.
                    De bellis primaria est de cursu. Ledo terram currit et uirtutem robustam, te
                    studiosíssime reténtis ficti videantur innitatur launch consilio ad tribunal a
                    quo.

        div

            img(src="images/home/section-2/_inline/self-driving.png" inline width=160)

            article

                h2 <a href="https://yalecpsc235.github.io/">Self-Driving Cars</a>
                p.
                    CS 335: Learned the fundamentals of autonomous technology. Worked with Intel RealSense T265, Arduino, 
                    OpenCV and ROS Melodic.



        div

            img(src="images/home/section-2/_inline/c.png" inline width=160)

            article

                h2 <a href="https://github.com/parksnwreck/cs223">Data Structures &#38 Algorithms</a>
                p.
                    CS 223, 365: Implemented various data structures and algorithms in C, including Hash tables, trees,
                    tries, linked lists, graphs, etc.

    +nav-1("section-3")
