section(class="canvas section-2" id="section-2")

    h2 Projects

    div(class="content")
        div
            
            img(src="images/home/section-2/_inline/open_vino.png" inline)

            article

                h2 <a href="https://github.com/parksnwreck/upvote">Intel OpenVINO Data Validator</a>
                p.
                    A data validator for classification and detection tasks on Datumaro, an open source data management framework managed by Intel.

        div

            img(src="images/home/section-2/_inline/torch-logo.png" inline width=160)

            article

                h2 <a href="https://bit.ly/deepinsightlol">LoL, CNN Classification</a>
                p.
                    CNN built with PyTorch that predicts the outcome of League of Legends matches with 89.83% accuracy. 
                    Used DeepInsight to transform non-image data into image data.

        div

            img(src="images/home/section-2/_inline/cv.png" inline width=200)

            article

                h2 <a href="https://github.com/parksnwreck/cs475">Computational Vision</a>
                p.
                    CS 475: Introduction to Computational Vision. Used Python, Jupyter Notebook, NumPy, Matplotlib, Tensorflow to build filters, edge detectors, etc.

        div

            img(src="images/home/section-2/_inline/c.png" inline width=160)

            article

                h2 <a href="https://github.com/parksnwreck/cs223">Data Structures &#38 Algorithms</a>
                p.
                    CS 223, 365: Implemented various data structures and algorithms in C, including Hash tables, trees,
                    tries, linked lists, graphs, etc.

    +nav-1("section-3")
